.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.chart-container {
  display: flex;
  justify-content: center;
  width: 90%;  /* 这里调整为90% */
  max-width: 1200px;
  margin: 20px 0;
  padding: 20px 0;
  background-color: #f4f4f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* X轴的时间标签，字体更小，减少重叠 */
.recharts-cartesian-axis-tick-value {
  font-size: 9px;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  text-align: right;
  white-space: nowrap;
}

.recharts-cartesian-axis-tick {
  padding-bottom: 10px;
}

/* 右边距的调整 */
.recharts-cartesian-axis {
  margin-top: 10px;
}
